#banner {
    background-image: url(https://i.ytimg.com/vi/CcsUYu0PVxY/maxresdefault.jpg);
    display: flex;
    flex-direction: column;
    padding: 500px;
}
.about-list-item {
    font-size: 14pt;
    font-weight: bold;
    justify-content: center;
    text-align: center;
}