#banner {
    background-image: url(https://i.ytimg.com/vi/CcsUYu0PVxY/maxresdefault.jpg);
    height: 300vh;
    width: 300vh;
}
#about-list-item {
    font-size: 14pt;
    font-weight: bold;
    justify-content: center;
    
}